/* 原理：父元素相对定位，input和横竖两条线绝对定位,
input层级高并且透明，就能显示出+号并且点击元素任意地方都可以执行选取文件 */
.div_imgall{
    border:1px solid blue;
    /* 调整div_imgall的宽高和berder的大小，子元素大小会自适应 */
    width:100px;
    height:100px;
    position: relative;
}
.input_flie{
    display:block;
    width:100%;
    height:100%;
    opacity:0;
    z-index: 100;
    position: absolute;
    left:0; top:0;
}
.div_shuline{
    position: absolute;
    width:50%;
    height:2%;
    background-color: blue;
    left: 25%;
    top:49%;
    z-index: 5;
}
.div_hengline{
    position: absolute;
    width:2%;
    height:50%;
    background-color: blue;
    left: 49%;
    top:25%;
    z-index: 5;
}
