<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.dao.FoodDao">

	<select id="getFoodByCidAndFname" resultType="com.food.vo.Food">
		select * from food
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="cid != null and cid != 0">
				AND BINARY cid = #{cid}
			</if>
			<if test="fname != null and fname != ''">
				AND BINARY fname like CONCAT(CONCAT('%', #{fname}), '%')
			</if>
		</trim>
	</select>

	<select id="getAllFoodByFname" resultType="com.food.vo.Food">
		select * from food
		<if test="fname != null and fname != ''">
			AND BINARY fname = #{fname}
		</if>
	</select>
	
	<insert id="saveFood" parameterType="com.food.vo.Food">
		insert into food (uid,fname,detail,cid,image,star,createTime)
		values (#{uid},#{fname},#{detail},#{cid},#{image},#{star},#{createTime})
	</insert>

	<update id="updateFood" parameterType="com.food.vo.Food">
		update food set fname = #{fname},detail = #{detail},cid = #{cid},image = #{image},star = #{star}
		 where fid = #{fid}
	</update>

	<delete id="delectFood" parameterType="java.lang.Integer">
		delete from food where fid = #{fid}
	</delete>
</mapper>